<!DOCTYPE html>
<html>
  <head>
    <title>Livewatch Bug Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'bundle' %>
  </body>
</html>
